/* COLORS */
/* - utility color classes that can be re-used throughout */
/* ======= */

@layer utilities {
  /* ======= */
  /* backgrounds */
  /* - body */
  .color__bg-body {
    background-color: var(--color__bg-body-light);
  }

  /* - text */
  .color__bg-text {
    background-color: var(--color__text-light);
  }

  /* - overlay 1 */
  .color__bg-overlay-1 {
    background-color: var(--color__bg-overlay-light-1);
  }

  /* - overlay 2 */
  .color__bg-overlay-2 {
    background-color: var(--color__bg-overlay-light-2);
  }

  /* - overlay 3 */
  .color__bg-overlay-3 {
    background-color: var(--color__bg-overlay-light-3);
  }

  /* - primary */
  .color__bg-primary {
    background-color: var(--color-primary-button-background-light);
  }

  /* - secondary */
  .color__bg-secondary {
    background-color: var(--color-secondary-button-background-light);
  }

  /* - tertiary */
  .color__bg-tertiary {
    background-color: var(--color-tertiary-button-background-light);
  }

  /* - neutral */
  .color__bg-neutral {
    background-color: var(--color-neutral-button-background-light);
  }

  /* ======= */
  /* text */
  /* force text color, dark color that contrasts on light background */
  .color__dark {
    color: var(--color__text-light);
    * {
      color: var(--color__text-light);
    }
  }

  /* force text color, light color that contrasts on dark background */
  .color__light {
    color: var(--color__text-dark);
    * {
      color: var(--color__text-dark);
    }
  }

  /* - text */
  .color__text {
    color: var(--color__text-light);
  }

  /* - link */
  .color__link {
    color: var(--color__link-light);
  }
  /* - primary */
  .color__primary {
    color: var(--color-primary-button-text-light);
  }

  /* - secondary */
  .color__secondary {
    color: var(--color-secondary-button-text-light);
  }

  /* - tertiary */
  .color__tertiary {
    color: var(--color-tertiary-button-text-light);
  }

  /* - neutral */
  .color__neutral {
    color: var(--color-neutral-button-text-light);
  }

  /* ======= */
  /* borders */
  /* - transparent */
  .color__border-transparent {
    border-color: transparent;
  }

  /* - divider 1 */
  .color__border-divider-1 {
    border-color: var(--color__border-divider-light-1);
  }

  /* - divider 2 */
  .color__border-divider-2 {
    border-color: var(--color__border-divider-light-2);
  }

  /* - divider 3 */
  .color__border-divider-3 {
    border-color: var(--color__border-divider-light-3);
  }

  /* - selected 1 */
  .color__border-selected-1 {
    border-color: var(--color__border-selected-light-1);
  }

  /* - selected 2 */
  .color__border-selected-2 {
    border-color: var(--color__border-selected-light-2);
  }

  /* - primary */
  .color__border-primary {
    border-color: var(--color-primary-button-background-light);
  }

  /* ======= */
  /* buttons */
  /* - primary */
  .color__button-primary {
    background-color: var(--color-primary-button-background-light);
    border-color: var(--color-primary-button-border-light);
    color: var(--color-primary-button-text-light);
    * {
      color: var(--color-primary-button-text-light);
    }
  }

  /* - secondary */
  .color__button-secondary {
    background-color: var(--color-secondary-button-background-light);
    border-color: var(--color-secondary-button-border-light);
    color: var(--color-secondary-button-text-light);
    * {
      color: var(--color-secondary-button-text-light);
    }
  }

  /* - tertiary */
  .color__button-tertiary {
    background-color: var(--color-tertiary-button-background-light);
    border-color: var(--color-tertiary-button-border-light);
    color: var(--color-tertiary-button-text-light);
    * {
      color: var(--color-tertiary-button-text-light);
    }
  }

  /* - neutral */
  .color__button-neutral {
    background-color: var(--color-neutral-button-background-light);
    border-color: var(--color-neutral-button-border-light);
    color: var(--color-neutral-button-text-light);
    * {
      color: var(--color-neutral-button-text-light);
    }
  }

  /* - plain */
  .color__button-plain {
    background-color: var(--color-plain-button-background-light);
    border-color: var(--color-plain-button-border-light);
    color: var(--color-plain-button-text-light);
    * {
      color: var(--color-plain-button-text-light);
    }
  }
}
