/* TYPOGRAPHY */
/* - utility classes to add default typography styles */
/* ======= */

@layer utilities {
  /* ======= */
  /* body type */
  .type__body {
    font-family: var(--type-font-body-family);
    font-style: var(--type-font-body-style);
    font-weight: var(--type-font-body-weight);
    @apply leading-relaxed tracking-normal;
  }
  .type__body--bold {
    font-family: var(--type-font-body-family);
    @apply font-bold leading-relaxed tracking-normal;
  }
  .type__body--italic {
    font-family: var(--type-font-body-family);
    @apply italic leading-relaxed tracking-normal;
  }
  .type__body--bold-italic {
    font-family: var(--type-font-body-family);
    @apply font-bold italic leading-relaxed tracking-normal;
  }

  /* ======= */
  /* header type */
  .type__heading {
    font-family: var(--type-font-header-family);
    font-style: var(--type-font-header-style);
    font-weight: var(--type-font-header-weight);
    @apply tracking-normal;
    @apply leading-tight;
  }
  .type__heading--bold-1 {
    font-family: var(--type-font-header-family);
    font-style: var(--type-font-header-style);
    font-weight: var(--type-font-header-weight);
    @apply text-4xl tracking-normal md:text-5xl;
    @apply leading-tight;
  }
  .type__heading--bold-2 {
    font-family: var(--type-font-header-family);
    font-style: var(--type-font-header-style);
    font-weight: var(--type-font-header-weight);
    @apply text-3xl tracking-normal md:text-4xl;
    @apply leading-tight;
  }
  .type__heading--bold-3 {
    font-family: var(--type-font-header-family);
    font-style: var(--type-font-header-style);
    font-weight: var(--type-font-header-weight);
    @apply text-2xl tracking-normal md:text-3xl;
    @apply leading-tight;
  }
  .type__heading--bold-4 {
    font-family: var(--type-font-header-family);
    font-style: var(--type-font-header-style);
    font-weight: var(--type-font-header-weight);
    @apply text-xl tracking-normal md:text-2xl;
    @apply leading-tight;
  }
  .type__heading--bold-5 {
    font-family: var(--type-font-header-family);
    font-style: var(--type-font-header-style);
    font-weight: var(--type-font-header-weight);
    @apply text-lg tracking-normal md:text-xl;
    @apply leading-tight;
  }
  .type__heading--bold-6 {
    font-family: var(--type-font-header-family);
    font-style: var(--type-font-header-style);
    font-weight: var(--type-font-header-weight);
    @apply text-base tracking-normal md:text-lg;
    @apply leading-tight;
  }

  /* ======= */
  /* navigation type */
  .type__nav {
    font-family: var(--type-font-nav-family);
    font-style: var(--type-font-nav-style);
    font-weight: var(--type-font-nav-weight);
    @apply leading-normal tracking-wide;
  }

  /* ======= */
  /* changing font size */
  .type--smaller {
    @apply text-xs;
    * {
      @apply text-xs;
    }
  }
  .type--small {
    @apply text-xs md:text-sm;
    * {
      @apply text-xs md:text-sm;
    }
  }
  .type--base {
    @apply text-base md:text-lg;
    * {
      @apply text-base md:text-lg;
    }
  }
  .type--big {
    @apply text-xl md:text-2xl;
    * {
      @apply text-xl md:text-2xl;
    }
  }
}
